.title,
.employer,
.wFrom,
.wTo {
    display: block;
    width: 90%;
    font-size: 25px;
}
.wFrom,
.wTo {
    width: 35%;
}
#ongoingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#ongoing {
    height: auto;
}
