* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(209, 207, 207);
}
main {
  max-width: 1280px;
  margin: auto;
  background-color: rgb(128, 127, 127);
  padding-left: 40px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  height: 50px;
  margin-bottom: 20px;
}
