* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(209, 207, 207);
    height: 100%;
}
h2 {
    font-size: 32px;
}
main {
    max-width: 1280px;
    margin: auto;
    background-color: rgb(128, 127, 127);
    padding-left: 40px;
    padding-top: 20px;
    margin-top: 10px;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
input {
    height: 50px;
    margin-bottom: 20px;
}

button {
    width: 150px;
    height: 40px;
    color: black;
    background-color: rgb(160, 150, 150);
}
.print {
    margin-top: 40px;
}
